// Place all the styles related to the Admin::Behavior controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
    color: navy;
}
#a_item {
    background: lightyellow;
    padding: 2px 2px 2px 15px;
}
#b_items {
    background: lightcyan;
    padding: 2px 2px 2px 15px;
}
