<h1>Возможности администрирования данных</h1>

<h3>Администрирование</h3>
<p>Можно добавлять / редактировать / просматривать / удалять записи в следующих категориях:</p>
<ol>
  <li>Сотрудники</li>
  <li>Должности</li>
  <li>Квалификационные уровни</li>
  <li>Блоки компетенций</li>
  <li>Компетенции</li>
  <li>Поведенческие индикаторы</li>
</ol>